
.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper23 {
    width: 100%;
    height: 500px ;
  }
  
  .mySwiper {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    color: brown;
    border: 2px solid brown;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
 
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  